# required - register at https://data.cityofnewyork.us
NYC_APP_TOKEN=put_token_here

DB_HOST=db
DB_PORT=3306
DB_NAME=devdb
DB_USER=dev
DB_PASSWORD=put_password_here
DB_ROOT_PASSWORD=put_root_password_here
